.login {
    /*display: flex;
   flex-direction: column;
   flex-basis: 100%*/
   display: grid;
   grid-template-columns: 100%;

   height: 100vh;
   /**/
   margin-left: 1.5rem;
   margin-right: 1.rem;
}

/**/
.login_content{
   display: grid;
   /*display: flex;*/
}


/* prueba flex panralla completa img *
.left{
   height: 310px;
}

.left, .right{
   display: flex;
   justify-content: center;
   align-items: center;
}

.left {
   background: linear-gradient(rgba(42, 162, 162, 0.7), rgba(18, 122, 123, 0.7)), url(../img/SlideSS.jpg);
   background-size: cover;
   justify-self: center;
}
/* prueba flex panralla completa img */

.login_img{
   justify-self: center;
}

.login_img img{
   width: 100%;
   margin-top: 1.5rem;
}

.login_forms{
   position: relative;
   height: 368px;
}

.login_registre{
   width: 100%;
   background-color: var(--first-grey-altern);
   padding: 2rem 1rem;
   border-radius: 1rem;
   text-align: center;
   box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
}

.login_title {
   font-size: var(--h1-font-size);
   color: var(--second-color);
   margin-bottom: 2rem;

   font-weight: 700;
   font: bold;
}

.input-container{
   /*display: grid;
   grid-template-columns: max-content 1fr;*/

   display: flex;
   column-gap: .5rem;
   padding: 1.125rem 1rem;
   background-color: #fff;
   margin-top: 1rem;
   border-radius: .5rem;
}