<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/style-log.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <title>Hello, world!</title>
  </head>
  <body class="light-bg">
    <section>
        <div class="row g-0">
            <!--lado izquierdo -->
            <div class="col-lg-7">

                <!--Carouosel login-->
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/img/log1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5 class="font-weight-bold">Aumenta tu creatividad</h5>
                          <a href="" class="text-muted text-decoration-none">Visita Nuestra home page</a>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/log2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5 class="font-weight-bold">De tu mente a la realidad</h5>
                          <a href="" class="text-muted text-decoration-none">Visita Nuestra home page</a>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/log3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5 class="font-weight-bold">Aumenta tu creatividad</h5>
                          <a href="" class="text-muted text-decoration-none">Visita Nuestra home page</a>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!--Carouosel login-->

            </div>

            <!--lado Derecho -->
            <div class="col-lg-5 d-flex flex-column aling-items-end min-vh-100 bg-form">
                <div class="d-flex justify-content-center px-lg-5 pt-lg-4 pb-lg3 p-4 w-100 mb-auto">
                    <img src="assets/img/LogoCoxtiNabvar.svg" alt="" class="img-fluid">
                </div>
                <div class="d-flex justify-content-center px-lg-5 py-lg-4 p-4 w-100 mb-auto">
                    <h1 class="font-weight-bold mb-4">Bienvenido de Vuelta</h1>
                </div>

                <!--form-->
                <form class="px-lg-5 py-lg-4 p-4 w-100 aling-self-center" [formGroup]="loginForm" (ngSubmit)="login()">

                    <div class="mb-3">
                        <label for="email" class="form-label font-weight-bold">Direccion de Corre Electronico</label>
                        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Correo Electronico">
                        <!--<span class="text-danger" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched"><br>Correeo Invalido</span>-->
                    </div>
              
                      <div class="mb-3">
                        <label for="password" class="form-label font-weight-bold">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña">
                        <!--<span class="text-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched"><br>Contraseña Invalida</span>-->
                        <a href="" class="justify-content-center form-text text-muted text-decoration-none">¿Has olvidado la contraseña?</a>
                      </div>
              
                      <div class="text-center">
                        <button id="submitButton" class="btn-landing" [disabled]="!loginForm.valid">Iniciar Sesion</button>
                      </div>
                      <div class="text-center text-success" *ngIf="successMessage">{{successMessage}}</div>

                </form>

                <p class="font-weight-bold text-center text-muted w-100">O inicia Sesion Con</p>
                <div class="d-flex justify-content-around">
                    <button type="submit" class="btn btn-outline-dark flex-grow-2 mr-1"><i class="fab fa-google lead mr-2"></i>Google</button>
                    <button type="submit" class="btn btn-outline-dark flex-grow-2 ml-1"><i class="fab fa-facebook-f lead mr-2"></i>Facebook</button>
                </div>

                <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 w-100 mt-auto">
                    <p class="d-inline-block mb-0">¿Aun no estas registrado?</p><a href="" class="text-dark font-wight-bold text-decoration-none">Registrate aqui</a>
                </div>

            </div>

            
        </div>
    </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>