
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="container_form_register">
    <form class="form">
        <h2 class="form_title">Registro</h2>
        <p class="form_parraf">Registrate para conocer todos los beneficios de Mi Perfil.</p>

        <div class="container">

            <div class="form_group">
                <div>
                    <h3>Datos Básicos</h3>
                </div>
                <div class="contenedor">
                    <section style="width: 30%;">
                        <label class="color_letra">Tipo</label>
                        <select name="select">
                            <option value="value1" selected>C.C</option>
                            <option value="value2">T.I</option>
                            <option value="value3">Tarjeta de Ext.</option>
                            <option value="value3">NIT</option>
                            <option value="value3">Pasaporte</option>
                        </select>
                    </section>
                    <section style="width: 70%;">
                        <label>Documento</label>
                        <input type="text" name="" id="" placeholder="Escribe tu documento">
                    </section>
                </div>
            </div>

            <div class="form_group">
                <label for="name" class="form_label">Nombre/s</label>
                <input type="text" id="name" class="form_input" placeholder="Escribe tu nombre completo">
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <label for="lastname" class="form_label">Apellidos</label>
                <input type="text" id="lastname" class="form_input" placeholder="Escribe tus apellidos">
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <label for="phone" class="form_label">Celular</label>
                <input type="text" id="phone" class="form_input" placeholder="Escribe tu celular">
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <label for="email" class="form_label">Correo Electrónico</label>
                <input type="text" id="email" class="form_input" placeholder="Escribe tu correo">
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <div class="group_input">
                    <label for="pass" class="form_label">Contraseña</label>
                    <input type="password" id="pass" class="form_input_2" placeholder="Escribe tu contraseña">
                    <i class="fa-solid fa-eye"></i>
                    <label class="form_label_2">Debe ser minimo de 8 carácteres</label> 
                </div>
            </div>

            <div class="contenedor">
                    <input type="checkbox" id="form_check" style="width: 10%;">
                    <label for="tratamiento_datos" id="form_label_3" style="width: 90%;"> Autorizar el <a href="" class="form_link">tratamiento de datos</a> </label>
            </div>

            <div class="btn-group">
                <button class="btn-home">Regresar</button>
                <button class="btn-home">Registrarse</button>   
            </div>
        </div>

    </form>
</div>

