@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    /* ======= Colores de la marca ====== */
    --first-color: #2aa2a2;
    --first-color-alterno: #fd7500;
    --second-color: #127a7b;
    --first-grey: #1b242b;
    --second-grey: #4d4d4d;
    --first-grey-altern: #f6f6f7;
    --white: #fff;

    /* =========== Font and Typography ======= */
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* ==== header ===== */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--first-grey-altern);
}

/* ==== HEADER SUPERIOR ===== */

.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img{
    width: 250px;
    /*cursor: pointer;
    height: 70px;*/
    transition: all 300ms ease;
}

.logo img:hover{
    transform: scale(1.1);
    /*width: 250px;
    cursor: pointer;
    height: 70px;*/
    cursor: pointer;
}

.search input{
    width: 300px;
    padding: 10px;
}

/* ==== BARRA DE MENU ===== */
.container__navbar{
    width: 100%;
    height: 70px;
    background: var(--second-color);
    padding: 0px 20px;
}

.container__nav{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

/*nav > ul > li*/
nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    /**/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    /*transition: all 300ms ease;*/

    position: relative;
    /*padding: 3px 0;*/
    overflow: hidden;
    text-decoration: none;
    transition: .4s;

    
    /*
    display: flex;
    color: #1b242b;
    font-weight: 300;
    font-size: 14px;

    position: relative;
    padding: 3px 0;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s;
    */

}

/* ====== after and before ======= */
/**/
.nav__link::before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 70%;
    height: 2.5px;
    background: #fd7500;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 70%;
    height: 2.5px;
    background: #fd7500;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* ====== after and before ======= */

nav > ul > li > a:hover{
    transform: scale(1.1);
    color: #fd7500;
    font-weight: 500;
    background: var(--first-color);
}

/* ====== HOVER'S after and before ======= */
/**/
.nav__link:hover::before{
    right: 0;
}

.nav__link:hover::after{
    left: 0;
}

/* ====== HOVER'S after and before ======= */

/* ============== SUBMENU ================ */
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    /**/
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #127a7b;
    padding: 6px;
    padding-left: 14px;
    /*margin-left: 14px;*/
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    
}

nav ul li ul li a:hover{
    background: var(--first-grey-altern);
    color: var(--first-color-alterno);
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* ================== responsive menu ================= */
/* RESPONSIVE ELEMENTS */
.container__nav .icon__menu{
    font-size: 25px;
    color: #1b242b;
    cursor: pointer;
    width: 25px;
    height: 100%;
    display: none;
    align-items: center;
}



#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}

@media screen and (max-width: 720px) {

    .search input{
        display: none;
    }

    .header__superior{
        padding: 10px;
    }

    /*
    .logo{
        align-items: center;
    }*/

    .logo img{
        width: 200px;
    }

    /*esconder barra de menu contenedora 
    .container__navbar{
        background: red;
    }*/

    nav > ul{
        flex-direction: column;
        background-color: #127a7b;
        position: fixed;
        left: 0;
        top: 134px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        /*
        left: 0;
        top: 134px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        *opacity: 0;
        *visibility: hidden;*/
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover ul{
        top: 90px;
    }

    /* icono de inicio */
    /**/
    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }
    /* icono de inicio */


    #label__check{
        display: block;
    }
    
    .container__nav .icon__menu{
        display: flex;
    }

    /* funcionalidad boton navbar */
    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

   
}