@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    /* ======= Colores de la marca ====== */
    --first-color: #2aa2a2;
    --first-color-alterno: #fd7500;
    --second-color: #127a7b;
    --first-grey: #1b242b;
    --second-grey: #4d4d4d;
    --first-grey-altern: #f6f6f7;
    --white: #fff;

    /* =========== Font and Typography ======= */
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    width: 100%;
    height: 90px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: #F6F6F7;
    
}

.move_content{
    right: 180px;
}

.container_header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
    
}

header .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 250px;
    cursor: pointer;
    /*height: 70px;*/
}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

/* clases para hover especial */
/*nav ul{
}*/
.nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*list-style: none;*/
}

/*nav ul li{
}*/
.nav_item{
    margin: 0px 17px;
    list-style: none;
}

/*nav ul li a{
}*/
.nav__link{
    /*color: #1b242b;
    font-size: 14px;
    */

    display: flex;
    color: #1b242b;
    font-weight: 300;
    font-size: 14px;

    position: relative;
    padding: 3px 0;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s;

}

.nav__link::before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: #fd7500;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: #fd7500;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__link:hover{
    color: #fd7500;
}

.nav__link:hover::before{
    right: 0;
}

.nav__link:hover::after{
    left: 0;
}

.nav__mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #1b242b;
    background: #f6f6f7;
}

.boton__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
    transition: background 300ms;
    display: none;
}

@media screen and (max-width: 760px) {
    
    .container_nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boton__menu{
        display: flex;
    }

    nav{
        height: 100%;
        background-color: #2aa2a2;
        position: fixed;
        top: 0;
        right: -180px;
        padding: 0 40px;
        transition: all 300ms;
    }

    .move_nav{
        right: 0px;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        margin: 20px 0px;

    }
}