@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    /* ======= Colores de la marca ====== */
    --first-color: #2aa2a2;
    --first-color-alterno: #fd7500;
    --second-color: #127a7b;
    --first-grey: #1b242b;
    --second-grey: #4d4d4d;
    --first-grey-altern: #f6f6f7;
    --white: #fff;

    /* =========== Font and Typography ======= */
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

/* ==== BASE ====== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

