@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
  --login-bg: #f8f3ff;
  /**/
  --title-bg: #403F8E;
  --button-bg: #403F8E;
  --image-bg: #a08cbb;
}

.body-content {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to top, #6F6DF9 0%, #858696 100%);
}

.login-container {
  height: 45.75em;
  width: 70em;
  margin: 6em auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.img {
  width: 150px;
}

/* contenedor izquierda */
.login-info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  background-color: var(--login-bg);

}

.image-container {
  width: 50%;
  padding-top: 2rem;
  background-color: var(--image-bg);

}

.title {
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: var(--title-bg);
}

.social-login {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social-login-element {
  width: 12.5rem;
  height: 3.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--button-bg);

}

.social-login-element img {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  top: 0;
  left: -0.625rem;
}

.btn-log {


  display: inline-block;
  padding: 10px 20px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border: none;

  background: #7A6D93;
  color: #fff;
  /*margin: auto;*/

  border-radius: 5px;
  cursor: pointer;
  transition: all 400ms;
}

.btn-log:hover {
  /*transform: translateY(5px);*/
  box-shadow: 0px 25px 5px -15px rgba(0, 0, 0, 0.3);
}
