@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #858696;
}

header {
    background: #fff;
    height: 650px;
    position: relative;
    overflow: hidden;
}

header .header-logo{
    width: 100%;
    padding: 20px;
    position: fixed;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
}

header .header-logo .logo img {
    width: 150px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}




header .contenido {
    display: flex;
    width: 90%;
    /*background: #000;*/
    margin: auto;
    height: 650px;
    align-items: center;
    justify-content: space-between;
}

.textos-header {
    width: 45%;
    color: #6d7993;
}

.textos-header h1{
    font-size: 60px;
}

.textos-header h2 {
    margin-bottom: 20px;
}

header img {
    width: 550px;
    z-index: 10;
    position: relative;
}

header .textos-header .btn-landing {
    /*margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;*/

    display: inline-block;
    padding: 10px 20px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border: none;

    background: #7A6D93;
    color: #fff;
    /*margin: auto;*/

    border-radius: 5px;
    cursor: pointer;
    transition: all 400ms;
}

header .textos-header .btn-landing:hover {
    transform: translateY(5px);
    box-shadow: 0px 25px 5px -15px rgba(0, 0, 0, 0.3);
}

header .textos-header .btn-landing-2 {
   

    display: inline-block;
    padding: 10px 20px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border: none;

    /*background: #7A6D93;
    
    margin: auto;*/
    color: #000;
    border: 1px solid #858696;
    border-radius: 5px;
    cursor: pointer;
    transition: all 400ms;
}


header .textos-header .btn-landing-2:hover {
    transform: translateY(5px);
    box-shadow: 0px 25px 5px -15px rgba(0, 0, 0, 0.3);
} 

/* combinar clit path */
.absolute {
    background: #858696;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
}

/* falta responsive */