@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    /* ======= Colores de la marca ====== */
    --first-color: #2aa2a2;
    --first-color-alterno: #fd7500;
    --second-color: #127a7b;
    --first-grey: #1b242b;
    --second-grey: #4d4d4d;
    --first-grey-altern: #f6f6f7;
    --white: #fff;

    /* =========== Font and Typography ======= */
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

/* ============= media Querys ======== */
@media screen and (min-width: 768px) {
    :root{
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* ============= BASE ======== */
*, ::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

h1 {
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}



/* ============= LOGIN =========== */
/*.login{}*/
.login {
    /*display: flex;
   flex-direction: column;
   flex-basis: 100%*/
   display: grid;
   grid-template-columns: 100%;
   height: 100vh;
   /**/
   margin-left: 1.5rem;
   margin-right: 1.5rem;
}

.login_content{
    display: grid;
    /*display: flex;*/
 }

 /* flexbox left right */
  /* flexbox left right */

 .login_img{
    justify-self: center;
    max-width: 70%;
 }
 
 .login_img img{
    /*width: 310px;*/
    width: 100%;
    margin-top: 1.5rem;
 }


 .login_forms{
    position: relative;
    height: 368px;
 }
 
 .login_registre{
    width: 100%;
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 1rem;
    /*text-align: center;*/
    box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
 }

 
 .login_title {
    font-size: var(--h1-font-size);
    color: var(--second-color);
    margin-bottom: 2rem;
 
    font-weight: 700;
    font: bold;
 }

 /* login_box */
 /*
 .input-container{
    /*display: grid;
    grid-template-columns: max-content 1fr;
 
    display: flex;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: .5rem;*

    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: .5rem;

 }*/

 .input-container{
    /*display: grid;
    grid-template-columns: max-content 1fr;
 
    display: flex;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: .5rem;*/
    
    position: relative;
   
    /*border-bottom: 1.5px solid var(--first-grey);
    border-radius: 8px;*/

    margin: 30px;
 }

 /*
form input[type="email"],
form input[type="password"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #F6F6F7;
    border: none;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 0.5px solid #4d4d4d;
    padding: 0.5em;
    margin-bottom: 1.50rem;
    font-size: 0.870rem;
}*/

/**/form input[type="email"],
form input[type="password"] {
    display: block;
    width: 100%;
    

    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid var(--first-grey);
    border-radius: 3px 3px 0px 0px;
    background-color: #F6F6F7;
    
    

    font-size: 14px;
    line-height: 20px;
}

/*
.input-container input{
    padding: 12px 20px;
    border: none;
    background-color: #F6F6F7;
    width: 100%;
    

    font-size: 16px;
    line-height: 20px;
}*/

.input-container:hover input,
.input-container:focus-within{
    border-color: var(--first-color);
}

.input-container input:focus,
.input-container:hover input{
    color: var(--first-color);
}

.input-container label {
    /*display: none;*/

    position: absolute;
    background-color: transparent;
    padding: 12px 20px;
    line-height: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    color: var(--second-grey);
    cursor: text;
}

.input-container:hover label{
    color: var(--first-color);
}

.input-container:focus-within label,
.input-container- input:not(:placeholder-shown) ~ label {
    padding: 0px 8px;
    background-color: var(--first-grey-altern);
    top: -12px;
    left: 16px;
    bottom: auto;
    color: var(--first-grey);
}