.datos-personales {
  width: 90%;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
}

.Datos-De-Residencia {
  width: 90%;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
}

.Datos-Financieros {
  width: 90%;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
}

.btn-landing {

  display: inline-block;
  padding: 10px 20px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  border: none;

  background: #7A6D93;
  color: #fff;
  /*margin: auto;*/

  border-radius: 5px;
  cursor: pointer;
  transition: all 400ms;
}
