<div class="container-log">
  <div class="row">
    <div class="col-12">

      <form class="form-register" id="form-register">

        <!--Datos Personales-->
        <div class="datos-personales">

          <!--Nombre-->
          <div class="form-group">
            <label for="apellido" class="form-label"></label>
            <div class="form-group-input">
              <input type="text" class="form-input" name="nombre">
              <span class="text-danger">
                <br>Nombre Requerido
              </span>
            </div>
          </div>

          <!--Apellido-->
          <div class="form-group">
            <label for="nombre" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Apellido Requerido
            </span>
          </div>

          <!--Documento Identidad-->
          <div class="form-group">
            <label for="documento" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Documento Requerido
            </span>
          </div>

          <!--Numero de celular-->
          <div class="form-group">
            <label for="celular" class="fa fa-user"></label>
            <input type="tel">
            <span class="text-danger">
              <br>Numero de celular Requerido
            </span>
          </div>

          <!--Correo Electronico-->
          <div class="form-group">
            <label for="email" class="fa fa-user"></label>
            <input type="email">
            <span class="text-danger">
              <br>Correo  Requerido
            </span>
          </div>

          <!--Contraseña-->
          <div class="form-group">
            <label for="password" class="fa fa-user"></label>
            <input type="password">
            <span class="text-danger">
              <br>contraseña es requerida
            </span>
          </div>

        </div>

        <!--Datos De residencia-->
        <div class="Datos-De-Residencia">

          <div class="form-group">
            <label for="departamento" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Departamento Requerido
            </span>
          </div>

          <div class="form-group">
            <label for="ciudad" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Ciudad Requerido
            </span>
          </div>

          <div class="form-group">
            <label for="barrio" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Barrio Requerido
            </span>
          </div>

          <div class="form-group">
            <label for="direccion" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Direccion de residencia Requerido
            </span>
          </div>

        </div>

        <!--Datos Financieros-->
        <div class="Datos-Financieros">

          <div class="form-group">
            <label for="salario" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Salario requerido
            </span>
          </div>

          <div class="form-group">
            <label for="otros-ingresos" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Otros Ingresos Requerido
            </span>
          </div>

          <div class="form-group">
            <label for="gastos-mensuales" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Gastos mensuales Requeridos
            </span>
          </div>

          <div class="form-group">
            <label for="gastos-financieros" class="fa fa-user"></label>
            <input type="text">
            <span class="text-danger">
              <br>Gastos financieros Requeridos
            </span>
          </div>

        </div>

        <div class="text-center">
          <button id="submitButton" class="btn btn-landing">
            Registrarse
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
