

<section>
  <div class="row g-0">
      <!--lado izquierdo -->
      <div class="col-lg-7 min-vh-100 bg-dark">

          <!--Carouosel login-->
          <div id="carouselExampleCaptions" class="carousel slide min-vh-100" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item img-1 min-vh-100 active">
                  <!--<img src="assets/img/log1.jpg" class="d-block w-100" alt="...">-->
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="font-weight-bold">Aumenta tu creatividad</h5>
                    <a href="" class="text-muted text-decoration-none">Visita Nuestra home page</a>
                  </div>
                </div>
                <div class="carousel-item img-2 min-vh-100">
                  <!--<img src="assets/img/log2.jpg" class="d-block w-100" alt="...">-->
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="font-weight-bold">De tu mente a la realidad</h5>
                    <a href="" class="text-muted text-decoration-none">Visita Nuestra home page</a>
                  </div>
                </div>
                <div class="carousel-item img-3 min-vh-100">
                  <!--<img src="assets/img/log3.jpg" class="d-block w-100" alt="...">-->
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="font-weight-bold">Aumenta tu creatividad</h5>
                    <a href="" class="text-muted text-decoration-none">Visita Nuestra home page</a>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
          <!--Carouosel login-->

      </div>

      <!--lado Derecho -->
      <div class="col-lg-5 d-flex flex-column aling-items-end min-vh-100 bg-form">
          <div class="d-flex justify-content-center px-lg-5 pt-lg-4 pb-lg3 p-4 w-100 mb-auto">
              <img src="assets/img/LogoCoxtiNabvar.svg" alt="" class="img-fluid">
          </div>
          <div class="d-flex justify-content-center px-lg-5 py-lg-4 p-4 w-100 mb-auto">
              <h1 class="font-weight-bold mb-4">Bienvenido de Vuelta</h1>
          </div>

          <!--form-->
          <form class="px-lg-5 py-lg-4 p-4 w-100 aling-self-center" [formGroup]="loginForm" (ngSubmit)="login()">

              <div class="mb-3">
                  <label for="email" class="form-label font-weight-bold">Direccion de Corre Electronico</label>
                  <input type="email" formControlName="email" class="form-control" id="email" placeholder="Correo Electronico">
                  <!---->
                  <span class="text-danger" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched"><br>Correeo Invalido</span>
              </div>

                <div class="mb-3">
                  <label for="password" class="form-label font-weight-bold">Contraseña</label>
                  <input type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña">
                  <!---->
                  <span class="text-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched"><br>Contraseña Invalida</span>
                  <a href="" class="justify-content-center form-text text-muted text-decoration-none">¿Has olvidado la contraseña?</a>
                </div>

                <div class="text-center">
                  <button id="submitButton" class="btn-landing" [disabled]="!loginForm.valid">Iniciar Sesion</button>
                </div>
                <div class="text-center text-success" *ngIf="successMessage">{{successMessage}}</div>

          </form>

          <p class="font-weight-bold text-center text-muted w-100">O inicia Sesion Con</p>
          <div class="d-flex justify-content-around">
              <button type="submit" class="btn btn-outline-dark flex-grow-2 mr-1"><i class="fab fa-google lead mr-2"></i>Google</button>
              <button type="submit" class="btn btn-outline-dark flex-grow-2 ml-1"><i class="fab fa-facebook-f lead mr-2"></i>Facebook</button>
          </div>

          <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 w-100 mt-auto">
              <p class="d-inline-block mb-0">¿Aun no estas registrado?</p>
              <a href="" class="text-dark font-wight-bold text-decoration-none">Registrate aqui</a>
          </div>

      </div>


  </div>
</section>
