@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --login-bg: #f8f3ff;
    /**/
    --title-bg: #403F8E;
    --button-bg: #403F8E;
    --image-bg: #a08cbb;

    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #fff;
    --light-bg: #8e8797;

    --login-bg: #f8f3ff;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--dark) !important;
  }

  .bg-dark{
      background-color: #1e2126;
  }

  .bg-dark-x {
      background-color: var(--dark-x);
  }

  .bg-form {
    background-color: #e2e2e2;
  }

  .form-control .btn {
      min-height: 3.125rem;
      line-height: initial;
  }

  .img-1 {
    background-image: url(../../../../assets/img/log1.jpg);
    background-size: cover;
    background-position: center;
  }

  .img-2 {
    background-image: url(../../../../assets/img/log2.jpg);
    background-size: cover;
    background-position: center;
  }

  .img-3 {
    background-image: url(../../../../assets/img/log3.jpg);
    background-size: cover;
    background-position: center;
  }

  .btn-landing {

    display: inline-block;
    padding: 10px 20px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    border: none;

    background: #7A6D93;
    color: #fff;
    /*margin: auto;*/

    border-radius: 5px;
    cursor: pointer;
    transition: all 400ms;
  }

