<!--<app-header></app-header>-->
<!-- --><router-outlet></router-outlet> 
<!-- <re-captcha
  #captchaRef="reCaptcha"
  (resolved)="resolved($event)"
  (error)="onError($event)"
  errorMode="handled"
  size="invisible"
></re-captcha>
<button (click)="captchaRef.execute()">Submit</button>
<button (click)="captchaRef.reset()">Reset</button>
<pre>
reCAPTCHA response log:
{{ captchaResponse || "(empty)" }}
</pre> -->
