<header>
  <!--logo-->
  <!--
  <div class="nav-bar">
    <a href="#" class="">
       <img src="assets/img/LogoCoxtiNabvar.svg" class="logo-coxti" alt="">
    </a>
  </div>-->
  <div class="header-logo">
      <div class="logo">

      <a href="">
        <img src="assets/img/LogoCoxtiNabvar.svg" alt="">
      </a>
    </div>
  </div>

  <!--logo-->
  <div class="contenido">
    <div class="textos-header">
      <h1>Panel de Consulta Empleados</h1>
        <!--<h2>De tu mente a la realidad</h2>-->
        <a class="btn-landing button" routerLink="/login">Iniciar Sesion</a>
        <a class="btn-landing-2 button" routerLink="/register">Registrate</a>
    </div>
    <div class="imagen-header">
      <img src="assets/img/panel.svg"  alt="">
    </div>
  </div>
  <!--<div class="absolut"></div>-->
  <div class="absolute"></div>
</header>

